# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directories
bin
build

# Ignore some vscode stuff
.project
.classpath
.settings
.factorypath

# Don't ignore .vscode folder
!.vscode

# Ignore save files
SAVEGAME.txt
HIGHSCORES.txt
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/cache.properties
