.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

@font-face {
    src: url("Final Assets/Ui/Minecraft.ttf");
}

.text {
    -fx-font-family: "Minecraft";
}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}
